<div class="content">

    <!-- Action Menu -->
    <nav class="row mb-3">
        <div class="col-md-4 col-6">
            <router-link class="btn btn-outline-primary" role="button" to="/panel/tickets">
                <i aria-hidden="true" class="fa fa-arrow-left fa-fw"></i> <span
                    class="d-md-inline d-none">Tüm Talepler</span>
            </router-link>
        </div>
        <div class="col text-right">
            <button class="btn btn-link text-danger" data-target="#confirmDeleteTicket" data-toggle="modal"
                    type="button">
                <i aria-hidden="true" class="fa fa-trash fa-fw"></i> Sil
            </button>
            <button class="btn btn-danger" data-target="#confirmCloseTicket" data-toggle="modal" type="button">
                <i aria-hidden="true" class="fa fa-times fa-fw"></i> <span
                    class="d-md-inline d-none">Talebi Kapat</span>
            </button>
        </div>
    </nav>

    <!-- Ticket -->
    <div class="card">

        <!-- Ticket Info -->
        <div class="card-header alert alert-warning shadow-sm mb-0">
            <div class="row">

                <div class="col-8">
                    <router-link title="Butlu" to="/">
                        <img class="img-fluid mr-3 rounded border float-left" src="https://www.gravatar.com/avatar/"
                             width="48"/>
                    </router-link>
                    <h5 class="text-dark mb-0 pb-1">
                        <router-link to="/">#4513</router-link>
                        Bu bir talep konusu
                    </h5>
                    <span class="text-muted">17 saat önce <router-link to="/">Butlu</router-link>
            tarafından <a href="#">Genel</a> kategorisine açıldı.</span>
                </div>

                <div class="col-4 text-right">
                    <p class="text-dark text-center rounded bg-warning border mb-1 d-inline-block px-3">Yanıtlanmadı</p>
                    <br>
                    <span class="text-muted d-inline-block">
            <i aria-hidden="true" class="far fa-clock fa-fw"></i> <span class="d-md-inline d-none">Son cevap:</span> 1
            dakika önce.
          </span>
                </div>

            </div>
        </div>

        <!-- Ticket Dialogues -->
        <div class="card-body">

            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem commodi distinctio corrupti
                libero
                perferendis eveniet, recusandae vitae maxime cumque nam aspernatur et. Consequatur mollitia repellendus
                iste
                optio rem earum exercitationem. 😊</p>

            <hr>

            <h5>Yanıtlar:</h5>

            <!-- No Reply -->
            <div class="container text-center">
                <i aria-hidden="true" class="fa fa-comment fa-4x text-glass m-3"></i>
                <p class="text-gray">Bu talep yanıtlanmamış.</p>
            </div>

            <div class="media py-3">
                <a class="d-flex" href="#">
                    <img alt="Username" class="mr-3 rounded border" src="https://www.gravatar.com/avatar/" width="48">
                </a>
                <div class="media-body">
                    <div class="mb-2">
                        <span class="text-muted float-right">1 dakika önce</span>
                        <router-link to="/">
                            <h5 class="mb-0">Butlu</h5>
                        </router-link>
                    </div>
                    <div class="px-2 py-2 bg-lightprimary rounded border">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas nam dolor rerum ipsa
                        distinctio
                        magni. Ratione atque adipisci aspernatur perferendis, ea explicabo numquam, culpa odio
                        doloremque incidunt
                        debitis saepe!
                    </div>
                </div>
            </div>

            <div class="media py-3">
                <a class="d-flex" href="#">
                    <img alt="Username" class="mr-3 rounded border" src="https://www.gravatar.com/avatar/" width="48">
                </a>
                <div class="media-body">
                    <div class="mb-2">
                        <span class="text-muted float-right">1 dakika önce</span>
                        <router-link to="/">
                            <h5 class="mb-0">Butlu</h5>
                        </router-link>
                    </div>
                    <div class="px-2 py-2 rounded border">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique voluptas nam dolor rerum ipsa
                        distinctio.
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Reply Ticket -->
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                Yanıt yaz:
            </h5>
            <div class="row">
                <div class="col-lg-10">
                    <textarea class="form-control mb-0" id="ticketReply" rows="3"></textarea>
                </div>
                <div class="col-lg-2">
                    <button class="btn btn-lg btn-secondary btn-block" type="submit">
                        <i aria-hidden="true" class="fa fa-comment fa-fw"></i> Yanıtla
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Delete Ticket Modal -->
    <div aria-hidden="true" class="modal fade" id="confirmDeleteTicket" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="pb-3">
                        <i aria-hidden="true" class="fa fa-question-circle fa-4x d-block m-auto text-gray"></i>
                    </div>
                    <span
                            v-text="page_type === 'trash' ? 'Bu yazıyı kalıcı olarak silmek istediğinizden emin misiniz?' : 'Bu talebi kalıcı olarak silmek istediğinizden emin misiniz?'"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary w-100" data-dismiss="modal" type="button">Hayır</button>
                    <button :disabled="deleting" @click="page_type === 'trash' ? deletePost() : moveToTrash()"
                            class="btn btn-danger w-100" type="button">
                        <div class="spinner-border spinner-border-sm text-white" role="status" v-if="deleting"></div>
                        <span v-if="!deleting">Evet</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Close Ticket Modal -->
    <div aria-hidden="true" class="modal fade" id="confirmCloseTicket" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered" role="dialog">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="pb-3">
                        <i aria-hidden="true" class="fa fa-question-circle fa-4x d-block m-auto text-gray"></i>
                    </div>
                    <span
                            v-text="page_type === 'trash' ? 'Bu yazıyı kalıcı olarak silmek istediğinizden emin misiniz?' : 'Bu talebi kapatmak istediğinizden emin misiniz?'"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-primary w-100" data-dismiss="modal" type="button">Hayır</button>
                    <button :disabled="deleting" @click="page_type === 'trash' ? deletePost() : moveToTrash()"
                            class="btn btn-danger w-100" type="button">
                        <div class="spinner-border spinner-border-sm text-white" role="status" v-if="deleting"></div>
                        <span v-if="!deleting">Evet</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>