<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pano</title>
</head>
<body>
<div id="app"></div>

<script src="/common/js/es6-promise.auto.min.js"></script>

<script src="/common/js/jquery.min.js"></script>
<script src="/common/js/bootstrap.bundle.min.js"></script>
<script src="/common/js/vue.dev.js"></script>
<script src="/common/js/vue-router.min.js"></script>
<script src="/common/js/vue-i18n.min.js"></script>
<script src="/common/js/vuex.min.js"></script>
<script src="/common/js/vue-meta.min.js"></script>
<script src="/common/js/axios.min.js"></script>

<script src="/common/js/requirejs.min.js"></script>

<script src="/{{#if is_panel }}panel/{{/if}}src/components/App"></script>

<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
</script>

</body>
</html>