<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pano</title>
</head>
<body>
<div id="app"></div>

<script src="/common/js/es6-promise.auto.min.js"></script>

<script>
    function loadScript(url, callback) {
        const script = document.createElement("script");
        script.type = "text/javascript";

        if (script.readyState) {  //IE
            script.onreadystatechange = function () {
                if (script.readyState == "loaded" ||
                        script.readyState == "complete") {
                    script.onreadystatechange = null;
                    callback();
                }
            };
        } else {  //Others
            script.onload = function () {
                callback();
            };
        }

        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
    }

    function loadMainJSFiles(callback) {
        loadScript("/common/js/jquery.min.js", function () {
            loadScript("/common/js/bootstrap.bundle.min.js", function () {
                loadScript("/common/js/vue.dev.js", function () {
                    loadScript("/common/js/vue-router.min.js", function () {
                        loadScript("/common/js/vue-i18n.min.js", function () {
                            loadScript("/common/js/vuex.min.js", function () {
                                loadScript("/common/js/vue-meta.min.js", function () {
                                    loadScript("/common/js/axios.min.js", function () {
                                        loadScript("/common/js/requirejs.min.js", function () {
                                            callback();
                                        })
                                    })
                                })
                            })
                        })
                    })
                })
            })
        })
    }
</script>

<script src="/{{#if is_panel }}panel/{{/if}}src/components/App"></script>

<script>
    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] +
            ':35729/livereload.js?snipver=1"></' + 'script>')
</script>

</body>
</html>