// Colors

$primary: #66bb6a;
$secondary: #4a89dc;
$light: #f5f7fa;
$white: #fff;
$black: #000;
$mint: #48cfad;
$sunflower: #f6bb42;
$bittersweet: #fc6e51;
$discord: #7289da;
$cream: #f5d76e;
$yellow: #ffce54;
$gray: #ccd1d9;
$dark: #656d78;
$body: #f5f7fa;
$glass: rgba(0, 0, 0, .1);

$body-bg: $body;

$theme-colors: ("primary": $primary,
        "secondary": $secondary,
        "light": $light,
        "white": $white,
        "black": $black,
        "mint": $mint,
        "sunflower": $sunflower,
        "bittersweet": $bittersweet,
        "discord": $discord,
        "cream": $cream,
        "yellow": $yellow,
        "gray": $gray,
        "dark": $dark,
        "glass": $glass,
        "body": $body);

// Settings

$enable-shadows: true;
$enable-rounded: true;

// Fonts

$lead-font-weight: normal;
$font-family-base: "Lato",
sans-serif;

// Links

$link-color: $secondary;

// Headings

$headings-font-weight: bolder;
$h5-font-size: 1.10rem;

// Modals

$modal-backdrop-bg: $white;
$modal-sm: 400px;
$modal-content-box-shadow-xs: 0 20px 50px $primary;
$modal-content-box-shadow-sm-up: 0 20px 50px $primary;

// Borders

$border-radius: 8px;
$border-radius-lg: 8px;
$border-radius-sm: 8px;

// Alerts

$alert-margin-bottom: 2rem;
$alert-color-level: 2;

// Dropdowns

$dropdown-box-shadow: 0 5px 5px $glass;

// Navbar

$navbar-dark-active-color: $sunflower;
$navbar-dark-color: $light;
$navbar-padding-y: 0.5rem;
$navbar-padding-x: 1.5rem;
$navbar-nav-link-padding-x: 1.5rem;

// Navs

$nav-pills-link-active-bg: $glass;
$nav-pills-link-active-color: $secondary;

// Pagination

$pagination-border-width: 5px;

@import "bootstrap/bootstrap.css";
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i");

#header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  width: 100%;
  min-height: 300px;
  background: url("/assets/img/header-bg.jpg") no-repeat center top;
  background-size: cover;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    min-height: 300px;
    background: linear-gradient(rgba(0, 0, 0, 0) 66%, $body);
  }
}

.navbar {
  top: -50px;
  border-top: 10px solid rgba($color: $white, $alpha: 0.3);
  border-bottom: 1px inset rgba($color: $black, $alpha: 0.1);
  font-weight: 900;

  .nav-item.active {
    border-radius: $border-radius;
    background: rgba($color: $black, $alpha: 0.1);
    transition: 250ms;
  }

  .nav-item {
    transition: 250ms;

    &:hover {
      transition: 250ms;
      text-shadow: 0 0 6px $white;
      border-radius: $border-radius;
    }
  }
}

.shadow-primary {
  box-shadow: 0 20px 100px $primary;
  transition: .5s all;
}

.shadow-secondary {
  box-shadow: 0 20px 50px $secondary;
  transition: .5s all;
}

.shadow-yellow {
  box-shadow: 0 0 60px $yellow;
  transition: .5s all;
}

.border-lg {
  border-width: 5px !important;
}

#footer {
  padding: 0;
  margin: 0;
  height: 200px;
  margin-top: 2rem;
  background: url("/assets/img/footer-bg.jpg") no-repeat bottom;
  background-size: cover;
  position: relative;

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 200px;
    background: linear-gradient($body, rgba(0, 0, 0, 0));
  }
}

.btn-success {
  color: $white !important;
}