<div>
    <h3 class="pb-3">Adım - 2/3</h3>

    <p>Platform verilerinin web sunucunuzda kayıt edilmesi için veritabanına bağlanması gerekmekte. Veritabanı
        bilgilerini
        bilmiyorsanız sunucunuzu sağlayan kurum ile iletişime geçiniz.</p>

    <h5 class="text-primary">Veri Tabanı Bilgileri</h5>

    <!-- <div class="alert alert-primary mb-0">
      <i aria-hidden="true" class="fa fa-info mr-2"></i>
      Pano, farklı veritabanı türlerine göre farklı ve şekillerde çalışabilir.
    </div> -->

    <div class="alert alert-dismissible text-danger text-left font-weight-bold p-2" id="databaseError"
         style="display: none;">
        {{ $t("Common.Error") }}: {{ $t("Errors." + errorCode) }}
        <button :aria-label="$t('Register.close')" @click="dismissErrorBox" class="close p-1" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="py-3">
        <nav class="nav nav-pills flex-nowrap text-lg-left text-center" id="databaseTabs" role="tablist">
            <a aria-controls="mysql" aria-selected="true" class="nav-link active" data-toggle="tab" href="#mysql"
               id="mysql-tab" role="tab" title="Veritabanı Türü">
                <img alt="MySQL" class="rounded" src="/assets/img/mysql.png" width="24">
                MySQL
                /
                <img alt="MariaDB" class="rounded" src="/assets/img/mariadb.png" width="24">
                MariaDB
            </a>
        </nav>
    </div>

    <form @submit.prevent="submit">
        <div class="tab-content">
            <div aria-labelledby="mysql-tab" class="tab-pane fade show active" id="mysql" role="tabpanel">
                <div class="form-group">
                    <label for="databaseAddress">Veri Tabanı Adresi:</label>
                    <input class="form-control" id="databaseAddress" placeholder="localhost:80" type="text"
                           v-model="host">
                </div>

                <div class="form-group">
                    <label for="databaseName">Veri Tabanı Adı:</label>
                    <input class="form-control" id="databaseName" placeholder="pano" type="text" v-model="dbName">
                </div>
                <div class="form-group">
                    <label for="databaseUserName">Veri Tabanı Kullanıcı Adı:</label>
                    <input class="form-control" id="databaseUserName" placeholder="admin" type="text"
                           v-model="username">
                </div>

                <div class="form-group">
                    <label for="databaseUserPassword">Veri Tabanı Şifresi:</label>
                    <input class="form-control" id="databaseUserPassword" placeholder="****************" type="password"
                           v-model="password">
                </div>

                <div class="form-group">
                    <label for="databaseUserPassword">Veri Tabanı Tablo Öneki:</label>
                    <input class="form-control" id="databaseTablePrefix" placeholder="pano_" type="text"
                           v-model="prefix">
                </div>
            </div>

            <div aria-labelledby="sqlite-tab" class="tab-pane fade show" id="sqlite" role="tabpanel">
                sqlite
            </div>
        </div>

        <div class="pt-3 d-block m-auto">
            <button :aria-disabled="disableNextButton || loading || nextButtonLoading"
                    :disabled="disableNextButton || loading || nextButtonLoading" class="btn btn-primary" type="submit">
        <span aria-hidden="true" class="spinner-border spinner-border-sm text-light mx-4" role="status"
              v-if="loading || nextButtonLoading"></span>
                <a v-if="!loading && !nextButtonLoading">
                    <i class="fas fa-arrow-alt-circle-right"></i>
                    Devam Et
                </a>
            </button>

            <button :aria-disabled="backButtonLoading" :disabled="backButtonLoading" @click="back"
                    class="btn btn-outline-primary" type="button">
        <span aria-hidden="true" class="spinner-border spinner-border-sm text-primary mx-4" role="status"
              v-if="backButtonLoading"></span>
                <a v-if="!backButtonLoading">
                    <i class="fas fa-arrow-alt-circle-left"></i> Geri
                </a>
            </button>
        </div>
    </form>
</div>