<div class="min-vh-100" id='MainComponent'>
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/solid.css"
          integrity="sha384-r/k8YTFqmlOaqRkZuSiE9trsrDXkh07mRaoGBMoDcmA58OHILZPsk29i2BsFng1B" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.7.2/css/fontawesome.css"
          integrity="sha384-4aon80D8rXCGx9ayDt85LbyUHeMWd3UiBaWliBlJ53yzm9hqN21A+o1pqoyK04h+" rel="stylesheet">

    <div class="container pt-4 mt-4 text-center">
        <a class="d-inline-block" href="https://panomc.com" target="_blank"
           title="Pano resmi web sitesini ziyaret edin.">
            <img alt="Pano Logo" class="d-inline-block m-auto" src="/assets/img/logo-blue.svg" width="24">
        </a>
    </div>

    <div class="container d-block m-auto py-3">

        <div class="dropdown text-right" v-show="!langLoading">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link icon-link dropdown-toggle d-inline-block"
               data-toggle="dropdown" href="javascript:void(0);" id="selectLanguage"
               role="button">
                {{$t("Common.Language.current-language-symbol")}}
            </a>
            <div aria-labelledby="selectLanguage" class="dropdown-menu dropdown-menu-right">
                <a :key="index" @click='setLang(language.symbol)' class="dropdown-item" href="javascript:void(0);"
                   v-for="(language, index) in $t('Common.Language.languages')" v-text="language.name"></a>
            </div>
        </div>

        <div class="text-right" v-show="langLoading">
            <div class="spinner-border spinner-border-sm text-primary" role="status"></div>
        </div>

        <div class="card bg-white shadow setup-bg mb-4 p-0">
            <div class="col-lg-6 col-10 m-auto py-5">

                <router-view v-show="!routePageLoading"></router-view>

                <div class="text-center" v-show="routePageLoading">
                    <div class="spinner-border text-primary" role="status"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-4 text-center">
        <small>Pano v.1.0</small>
    </div>
</div>