@import "custom-bootstrap";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "fonts";

// Main Styles

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba($color: $glass, $alpha: .1);
  border-radius: 8px;
}

.border-lg {
  border-width: 5px !important;
}

.icon-link {
  transition: .2s;

  &:focus, &:active {
    border-radius: 75px !important;
    outline: 0 !important;
    background: $lightprimary !important;
    transition: .2s;
  }
}